anyio==4.9.0
asgiref==3.9.1    
certifi==2025.7.14
charset-normalizer==3.4.2
colorama==0.4.6
et_xmlfile==2.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
latexcodec==3.0.1
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==2.3.1
openpyxl==3.1.5
pandas==2.3.1
pandasxl==0.1.0
prompt_toolkit==3.0.51
pybtex==0.25.1
Pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
rich==14.1.0
rispy==0.10.0
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
wcwidth==0.2.13
xl==0.0.5
xlrd==2.0.2
xlsxwriter==3.2.5